<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <video id="video">Video stream not available.</video>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        {#console.log(roomName)#}
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/live/'
            {#+ '/live/'#}
            + roomName
            + '/'
            {#'ws://127.0.0.1:6379/live/aze'#}
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-log').value += (data.message + '\n');
            video = document.getElementById('video')
            {#video.srcObject = data.message#}
            {#video.play()#}
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            {#const message = messageInputDom.value;#}
            let message = {}
            message = navigator.mediaDevices.getUserMedia({video:true, audio:false})
              .then( stream => {
                  message = JSON.stringify(stream.getVideoTracks())
                  {#message = stream.toString()#}
                  {#message = JSON.stringify({'message':message})#}
                  {#console.log('stream',stream.getVideoTracks()[0])#}
                  console.log('stream',message)
                  {#var blob = new Blob(stream)#}
                  chatSocket.send(JSON.stringify({'message':stream}))
                  return stream
              })
                 {% comment %} function(stream) {
                  message => message
                  window.message = stream
                  return stream
                  console.log(stream)
                }){% endcomment %}
              .catch(function(err) {
                    console.log("An error occurred: " + err);
                })
            {#console.log(message)#}
            {#console.log(window.message)#}
            {% comment %}chatSocket.send(JSON.stringify({
                'message':  window.message
            }));{% endcomment %}
            messageInputDom.value = '';
        };
    </script>
</body>
</html>